<h3>Selected Word : <%= @word.word %></h3>
<h3>Selected Word Antonym : <%= @word.antonym %></h3>

<div style="border-style: solid; padding: 5px; margin: 10px;">
  <form action="/words/<%= @word.id %>/others" method="post">
    <div class="form-group">
      <label for="word">Update Word</label>
      <input id="word" name="word" class="form-control" type="text" value="<%=@word.word%>">
    </div>
    <div class="form-group">
      <label for="opposite">Add Antonym!</label>
      <input id="opposite" name="opposite" class="form-control" type="text" value="<%=@word.antonym%>">
    </div>
    <div class="form-group">
      <label for="image">Add an image (insert image URL)</label>
      <input id="image" name="image" class="form-control" type="text" value="<%=@word.image%>">
    </div>
    <button type="submit" class="btn-primary">Update Fields!</button>
  </form>
</div>

<div style="border-style: solid; padding: 5px; margin: 10px;">
  <form action="/words/<%= @word.id %>/defs" method="post">
    <div class="form-group">
      <label for="alt_def">Add Another Definition</label>
      <input id="alt_def" name="alt_def" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-primary">Add Definition!</button>
  </form>
</div>

<div style="border-style: solid; padding: 5px; margin: 10px;">
  <h4>Definitions for <%= @word.word %></h4>
    <ul>
      <% @word.definitions.each do |definition| %>
      <li> <%= definition %>
        <form action="/words/<%= @word.id %>/deletedef/<%= @word.definitions.index(definition) %>" method="post">
          <button class="btn btn-danger" type="submit" name="button">Delete Definition</button>
        </form>
      </li>
      <% end %>
    </ul>
</div>

<form action="/words/<%= @word.id %>" method="post">
  <input class='btn btn-warning' type='submit' value='Delete Word !'>
</form>

<h3>Unique word image:</h3>
<img src="<%=@word.image%>" width="200px">
<a href="/"><h2>back to home page</h2></a>
