<h3>Selected Word : <%= @word.word %></h3>
<h3>Selected Word Definition : <%= @word.definition %></h3>
<h3>Selected Word Antonym : <%= @word.antonym %></h3>
<h3>Selected Word Alt-definition : <%= @word.alt_definition %></h3>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="word">Update Word</label>
    <input id="word" name="word" class="form-control" type="text" value="<%=@word.word%>">
  </div>
  <div class="form-group">
    <label for="def">Update Definition</label>
    <input id="def" name="def" class="form-control" type="text" value="<%=@word.definition%>">
  </div>
  <div class="form-group">
    <label for="opposite">Add Antonym!</label>
    <input id="opposite" name="opposite" class="form-control" type="text" value="<%=@word.antonym%>">
  </div>
  <div class="form-group">
    <label for="alt_def">Add Alternative Definition</label>
    <input id="alt_def" name="alt_def" class="form-control" type="text" value="<%=@word.alt_definition%>">
  </div>
  <div class="form-group">
    <label for="image">Add an image (insert image URL)</label>
    <input id="image" name="image" class="form-control" type="text" value="<%=@word.image%>">
  </div>
  <button type="submit" class="btn-primary">Update Fields!</button>
</form>

<form action="/words/<%= @word.id %>" method="post">
 <input class='btn btn-primary' type='submit' value='Delete'>
</form>

<h3>Unique word image:</h3>
<img src="<%=@word.image%>" width="200px">

<a href="/">
<h2>back to home page</h2>
</a>
